.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:whitesmoke;
}

.container {
  width: 400px;
  background:pink;
  padding: 20px;
  border-radius: 12px;
}

.filters {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.filters button {
  flex: 1;
  padding: 8px;
  border: none;
  background: rgb(215, 182, 187);
  border-radius: 8px;
  cursor: pointer;
}

.activeBtn {
  background: #6366f1;
  color: white;
}